.wrapper-message-notFound{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-content: center;
    justify-content: center;
}
.text-header{
    color: var(--color-item);
    font-weight: 600;
    font-size: 1.2rem;
}
.text-body{
    color: var(--text-gray-color);
    font-size: 1.2rem;
}