
.container-featured-news{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1rem;
    padding-top: var(--header-height);
}

.wrapper-card-featured-news{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}