.wrapper-details{
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: var(--header-height);
}

.wrapper-news{
    height: fit-content;
    width: 100%;
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: 1rem;
}

.info-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info-details > p{
    color: var(--text-gray-color);
}