.wrapper-message{
    width: 100%;
    height: calc(100vh - (var(--header-height) + var(--footer-height) + var(--footer-margin-top)));
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.message h2{
    margin-bottom: 1rem;
    color: var(--color-item);
    font-size: 3rem;
}

.message p{
    margin-top: .5rem;
    color: var(--text-gray-color);
}